body {
	background-color: #eee;
}
.active a{
	color: green;
}

.canvas {
	background-size: 446px 360px;
}


.gif-template {
	padding: 40px 15px;
	text-align: center;
	
}
.gifs {
	text-align: center;
	
}


.footer {
		text-align: center;

}

